<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Safari</title>
    <link rel="stylesheet" th:href="@{/css/Home.css}"/>
    <link rel="stylesheet" href="../../static/css/Home.css"/>
</head>
<body>
<div class="wrap">
    <h3>SAFARI 에 오신것을 환영합니다</h3>
    <p>우리 프로그램은 사용자가 좋아하는 생물이 있는, 가장 유명한 곳으로 안내합니다.</p>
    <div class="menu-wrap">
        <a href="http://localhost:8111/members/select">Login</a>
        <a href="http://localhost:8111/choice/select">Choice</a>
    </div>
    <img th:src="@{/img/safariback2.png}" />
    <!-- <img src="../../static/img/safariback2.png" alt="에코이미지"> -->
</div>
</body>
</html>