<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Members Result</title>
    <link rel="stylesheet" th:href="@{/css/Join.css}"/>
    <link rel="stylesheet" href="../../static/css/Join.css"/>
</head>
<body>
<div class="wrap">
    <div class="inner_wrap">
        <p>
            회원가입이 완료 되었습니다.
            <br>
            <a href="http://localhost:8111/members/select">로그인을 하시려면 클릭해주세요.</a>
        </p>
    </div>

    <img th:src="@{/img/safariback2.png}" />
    <!-- <img src="../../static/img/ecoImage.png" alt="에코이미지"> -->
</div>
</body>
</html>