body {
    height: 100%;
    padding: 3%;
    margin: 0;
}
div.wrap {
    max-width: 2900px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: left;
    background-color: #FDF5E6;
    padding-left: 40px;
    padding-right: 40px;
}

h3 {
    line-height: 53px;
    font-size: 60px;
    color: #AE5E1A;
}
p {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 60px;
    color: #C2722E;
}

.menu-wrap  a {
    display: inline-block;
    padding: 15px 25px;
    margin-right: 10px;

    border: 3px solid #8B5927;
    border-radius: 40px;
    box-sizing:border-box;

    line-height: 16px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #8B5927;

    background-color: #FDF5E6;

    transition: linear 0.3s;

}
.menu-wrap a:last-child {
    margin-right: 0;
}

.menu-wrap  a:hover {
    background-color: #9F814F;
    color: white;
}

.wrap img {
    margin-top: 100px;
    display: block;
    width: 100%;
}