body {
    height: 100%;
    padding: 3%;
    margin: 0;
}
.wrap {
    max-width: 2900px;
    margin: 0 auto;
    height: 100%;
    background-color: #FDF5E6;
    padding-left: 40px;
    padding-right: 40px;
}
.header {
    color: #AE5E1A;
    text-align: center;
    padding: 70px 0 50px;
    margin-left: 15px;
    font-size: 50px;
}
table {
    margin: 0 auto;
}
.tb_title {
    background-color: #9F814F;
    color: white;
}
.tb_title > th {
    height: 40px;
    line-height: 30px;
    padding: 0 16px;
}
.tb_info > td {
    padding: 5px;
    max-width: 400px;
}

.menu-wrap {
    margin-top: 60px;
    text-align: center;
}

.menu-wrap  a {
    display: inline-block;
    padding: 15px 25px;
    margin-right: 10px;

    border: 3px solid #8B5927;
    border-radius: 40px;
    box-sizing:border-box;

    line-height: 16px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #8B5927;

    background-color: #FDF5E6;

    transition: linear 0.3s;

}
.menu-wrap a:last-child {
    margin-right: 0;
}

.menu-wrap  a:hover {
    background-color: #9F814F;
    color: white;
}

.wrap img {
    margin-top: 100px;
    display: block;
    width: 100%;
}